*{
    font-family: "Roboto Condensed", sans-serif;
    margin: 0px;
}

html{
    background: #EEEEEE;
    color: #201E43;
    font-size: 30px;
}

.container{
    display: flex;
    gap: 5px;
}

.language{
    padding-top: 10px;
    padding-right: 10px;
    float: right;
    height: 30px;
}

.mainTitle{
    padding-left: 25px;
    padding-top: 25px;
}

.upperMenu{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #508C9B;
}

.subUpperMenu{
    z-index: 2;
    position: absolute;
    width: 100%;
    background-color: #134B70;;;
}

.menuItems{
    display: flex;
    color: #EEEEEE;
    gap: 20px;
    float: right;
    list-style: none;
}

.menuItem{
    padding: 20px;
}

.content{
    position: absolute;
    width: 100%;
    top: 176px;
}

.subtitle{
    margin: 25px 25px 0px 45px;
    color: #134B70;
}

.text{
    text-align: justify;
    margin-left: 45px;
    margin-right: 25px;
    color:#201E43;
}

.profilePicture{
    height: 300px;
    margin: 0px 25px 85px 45px;
    display: flex;
    float: left;
}

.list{
    list-style: none;
    margin-left: 0;
    display: grid;
}

.grid-container{
    clear: both;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.skillsRightPicture{
    position: relative;
    float: left;
    margin: 20px 45px;
    height: 180px;
    width: 180px;
    object-fit: cover;
}

.center-text{
    text-align: center;
}

.contact{
    position: fixed;
        bottom: 3px;
        right: 10px;
    font-size: 20pt;
    background-color: #EEEEEE;
    padding: 2px;
    z-index: 10;
}

ul .text{

    padding-right: 20px;
}

/* LAPTOP */
@media (max-width: 1130px) {
    .mainTitle{
        font-size: 1.8rem;
    }

    .subtitle{
        font-size: 1.5rem;
    }

    .text{
        font-size: 1rem;
    }

    .menuItems{
        font-size: 0.75rem;
    }

    .profilePicture{
        height: 250px;
    }

    .content{
        top: 159px;
    }

    ul .text{
        font-size: 0.9rem;
        padding-right: 20px;
    }

    .subtitle.list{
        font-size: 1rem;
    }
}

/* IPAD */
@media (max-width: 930px) {
    .mainTitle{
        font-size: 1.5rem;
    }

    .subtitle{
        font-size: 1.2rem;
    }

    .text{
        font-size: 0.7rem;
    }

    .menuItems{
        font-size: 0.55rem;
    }

    .language{
        height: 25px;
    }

    .profilePicture{
        height: 200px;
    }

    .content{
        top: 141px;
    }

    .subtitle.list{
        font-size: .8rem;
    }

    .skillsRightPicture{
        height: 150px;
        width: 150px;
    }

    ul .text{
        font-size: 0.6rem;
        padding-right: 20px;
    }
}

/* MOBILE */
@media (max-width: 770px) {

    .mainTitle{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 0.8rem;
    }

    .text{
        font-size: 0.5rem;
    }

    .language{
        height: 15px;
        padding-right: 5px;
    }

    .menuItems{
        font-size: 0.3rem;
        gap: 5px;
    }

    .menuItem{
        padding: 10px;
    }

    .hide{
        display: none;
    }

    .profilePicture{
        height: 150px;
    }

    .content{
        top: 106px;
        width: 100%;
    }

    .skillsRightPicture{
        width: calc(100% - 70px);
        height: 180px;
        object-fit: cover;
        float: none;
        margin-right: 0px;
    }

    .subtitle.list{
        clear: both;
        margin-top: 0px;
    }

    .grid-container{
        clear: both;
        display: grid;
        grid-template-columns:1fr;
        gap: 50px;
    }

}